- name: Install Docker
  hosts: all
  become: true
  vars:
    docker_packages:
      - ca-certificates
      - curl
      - gnupg
      - lsb-release

  tasks:
    - name: Update apt
      apt:
        update_cache: yes

    - name: Install prerequisite packages
      apt:
        name: "{{ docker_packages }}"
        state: present

    - name: Add Docker GPG key
      apt_key:
        url: https://download.docker.com/linux/ubuntu/gpg
        state: present

    - name: Add Docker repository
      apt_repository:
        repo: deb [arch=amd64] https://download.docker.com/linux/ubuntu jammy stable
        state: present

    - name: Install Docker Engine
      apt:
        name:
          - docker-ce
          - docker-ce-cli
          - containerd.io
        state: present
        update_cache: yes

    - name: Enable & start Docker
      service:
        name: docker
        state: started
        enabled: yes

    - name: Add user to docker group
      user:
        name: user1
        groups: docker
        append: yes
