- name: Run Grafana container
  hosts: monitoring
  become: true
  tasks:
    - name: Run Grafana Docker container
      docker_container:
        name: grafana
        image: grafana/grafana
        state: started
        restart_policy: always
        ports:
          - "3001:3000"
        volumes:
          - "/home/user1/grafana_data:/var/lib/grafana"

